<form [formGroup]="userForm" class="border border-solid border-white rounded-xl p-4 flex flex-col min-w-[350px]">
  <h1 class="text-white mb-3 text-3xl">Изменение аккаунта </h1>
  <tui-input class="mb-2" formControlName="firstName">
    Введите имя
    <input
      tuiTextfield
      type="text"
    />
  </tui-input>
  <tui-input class="mb-2" formControlName="lastName">
    Введите фамилию
    <input
      tuiTextfield
      type="text"
    />
  </tui-input>
  <tui-input class="mb-2" formControlName="email">
    Введите email
    <input
      tuiTextfield
      type="email"
    />
  </tui-input>
  <tui-input-password
    formControlName="newPassword"
    class="mb-2"
  >
    Введите пароль
    <input
      tuiTextfield
    />
  </tui-input-password>

  @if (userForm.controls['company'].value) {
    <tui-input class="mb-2" formControlName="companyInn">
      ИНН
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
    <tui-input class="mb-2" formControlName="companyOgrn">
      ОГРН / ОГРНИП
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
    <tui-input class="mb-2" formControlName="companyKpp">
      КПП
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
    <tui-input class="mb-2" formControlName="companyAddress">
      Адрес компании
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
    <tui-input class="mb-2" formControlName="companyName">
      Название компании
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
  }

  <button tuiButton size="m" [showLoader]="loading" [disabled]="userForm.invalid" (click)="editAccount()">Изменить</button>

  @if (error) {
    <p class="text-base text-red-800 text-center mt-2">{{error}}</p>
  }

</form>
